<ng-container *ngIf="form">
  <form [formGroup]="form">
    <div class="form-control">
      <label>OS</label>
      <select formControlName="os">
        <option value="">Any</option>
        <option *ngFor="let os of filterData?.os" [value]="os">{{ os | prettyString }}</option>
      </select>
    </div>
    <div class="form-control">
      <label>Brand</label>
      <select formControlName="brand">
        <option value="">Any</option>
        <option *ngFor="let brand of filterData?.brands" [value]="brand">{{ brand | prettyString }}</option>
      </select>
    </div>
    <div class="form-control">
      <label>Price</label>
      <div class="range">
        <input formControlName="price-from" type="number" placeholder="from"/>
        <input formControlName="price-to" type="number" placeholder="to"/>
      </div>
    </div>
    <div class="form-control">
      <label>RAM (GB)</label>
      <div class="range">
        <input formControlName="ram-from" type="number" placeholder="from"/>
        <input formControlName="ram-to" type="number" placeholder="to"/>
      </div>
    </div>
    <div class="form-control">
      <label>Display inch</label>
      <div class="range">
        <input formControlName="display-inch-from" type="number" placeholder="from"/>
        <input formControlName="display-inch-to" type="number" placeholder="to"/>
      </div>
    </div>
  </form>
</ng-container>