:host {
  display: flex;
  flex-direction: column;
  height: 100vh
}

nav {
  height: 60px;
  min-height: 60px;
  padding: 0 20px;
  background: #1a4f91;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
  }
}

main {
  flex: 1;
}

footer {
  background: #333;
  color: #666;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}