:host {
  display: inline-block;
  padding: 20px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  .icon {
    font-size: 44px;
    color: #ccc;
  }

  .text {
    flex: 1;
    color: #333;
    font-weight: 400; 
  }
}